.todo{
    max-width: 520px;
    margin:50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: var($btn-border-radius-lg,1rem);
    box-shadow: 0 10px 30px rgba(0,0,0,.08);
 
    &__header{
        margin-bottom: 20px;
        &-title{
            margin:0;
            font-size: 2em;
            font-weight: 700;
            color:$primary;
            letter-spacing: .2px;
        }
        &-subtitle{
            margin:20px;
            color:#6c757d;
            font-size: 1em;;
        }
    }
 
    &__list{
        list-style: none;
        padding:0;
        margin: 20px 0 0;
        display: grid;
        gap:.8em;
    }
 
    &__item{
        position: relative;
        display: grid;
        grid-template-columns: auto 1fr auto;
        gap:1em;
        align-items: center;
        padding: 10px;
        background: #f8f9fa;
        border-radius: .6rem;
        transition:background-color .2s ease, box-shadow .2s ease;
 
        &-check{
            @extend .form-check-input;
            width: 20px;
            height: 20px;
            margin: 0;
            cursor:pointer;
        }
 
        &-label{
            cursor: pointer;
            color:#2c2c2c;
            line-height: 1.3;
            transition: color .2s ease;
        }
 
        &-badge{
            @extend .badge;
            @extend .text-bg-secondary;
            font-weight:500;
        }
 
        //Kai pazymeta  - per CSS parodom "completed" busena

        &-check:checked ~ .todo__item-label{
            color: #9aa0a6;
            text-decoration: line-through;
        }
        &-check:checked ~ .todo__item-badge{
            @extend .text-bg-success;
        }

        &-check:checked ~ .todo__item-actions .btn-complete{
            @extend .btn-outline-success;
            opacity: .6;
            pointer-events: none;
        }

        &-actions{
            display: flex;
            gap: .5rem ;
        }
        .btn{
            padding: 15px;
            border-radius: 10px;
        }

        .btn-complete{
            @extend .btn-outline-secondary;
        }
         .btn-delete{
            @extend .btn-outline-danger;
            pointer-events: none;
            opacity: .6;
         }
 
        
    }
 
   
}